  .chat-input {
	position: absolute;
	background-color: white;
    margin: 20 24px !important;
	height: 48px;
	border-radius: 24px;
	padding: 8px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

html,
body {
	margin: 0;
	height: 100%;
	overflow: hidden;
	font-family: "UberMoveRegular";
	font-weight: normal;
}


@font-face {
	font-family: "UberMoveRegular";
	src: url("/static/fonts/UberMove-Regular.woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "UberMoveBold";
	src: url("/static/fonts/UberMove-Bold.woff2");
	font-weight: bold;
	font-style: normal;
}
